# Root
*.iml
.kotlin/
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.jks
*.aab

# ComposeApp
app/google-services.json
core/database/schemas
*/*/exported*/*

# Xcode
app-ios/iosApp/GoogleService-Info.plist
*.xcworkspace
*.xcuserdata/
!*.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcconfig
