# Root
*.iml
.kotlin/
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.jks
*.aab

# ComposeApp
composeApp/schemas/
composeApp/google-services.json
*/exported*/*

# Xcode
iosApp/iosApp/GoogleService-Info.plist
*.xcworkspace
*.xcuserdata/
!*.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcconfig
